<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Descrição</td>
      <td>Preço</td>
      <td>Carga Horária</td>
      <td>Ações</td>
    </tr>
  </thead>
  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %> </td>
        <td><%= produto.descricao %> </td>
        <td><%= produto.preco %> </td>
        <td><%= produto.carga_horaria %> </td>
        <td><%= button_to "Remover", produto, 
                method: :delete, 
                class:"btn-sm btn-danger",
                data: {confirm: "Tem certeza que deseja remover o produto #{produto.nome}?"}
            %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="alert alert-success" role="alert">
  <h5 class="alert-heading">Curso com Desconto</h5>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Descrição</td>
      <td>Preço</td>
      <td>Carga Horária</td>
    </tr>
  </thead>
  <tbody>
    <% @produto_com_desconto.each do |produto| %>
      <tr>
        <td> <%= produto.nome %> </td>
        <td> <%= produto.descricao %> </td>
        <td> <%= produto.preco %> </td>
        <td> <%= produto.carga_horaria %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
